@tailwind base;
@tailwind components;
@tailwind utilities;
 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
/* @media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    padding: 50px; 
  }

  .about-content,
  .about-image {
    max-width: 100%;
  }

  .about-image {
    margin-top: 20px; /* Space between text and image on small screens 
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

#wavy-background-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
}
#Nav {
  background-color: #000; 
  z-index: 10; 
}
#home{
  position: relative;
  z-index: 5;
  color: white; 
  padding-top: 185px;
  padding-bottom: 163px;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


.navbar {
  background-color: rgb(0, 0, 0); 
  border: none; 
  box-shadow: none; 
  font-family: 'YourFontFamily', sans-serif; 
  font-weight: 360;
  font-size: larger;
}

.navbar-brand img {
  height:75px; 
  width: auto; 
  margin-right: 10px; 
}


.nav-link.active, .nav-link:hover {
  color: #dddddd; 
  text-decoration: none;
}

.navbar-light .navbar-nav .nav-link {
    color: white !important;
}

.home-content {
  text-align: center; 
  padding-top: 100px; 
}

.home-content h1 {
  font-size: 4.5em;
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.8); /* Creates a glowing effect */
}

.home-content h2 {
  font-size: 2em;
  color: #ffffff; 
}

.home-content p {
  font-size: 1.1em;
  color: #ffffff;
  margin-top: 0.5em; 
  margin-bottom: 0.5em;
}

.home-content button {
  padding: 0.2em 0.2em;
}

.home-content button:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 1); /* glowing effect on hover  */
}
.card {
  width: fit-content;
  height: fit-content;
  background-color: rgba(9, 9, 9, 0.685);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: .3s;
}
/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: .3s;
}
/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: .3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: #128C7E;
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.about-container {
  display: flex;
  color: #dddddd;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.652);
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.343); /* White with 10% opacity */
  backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 20px;
  position: relative; /* For absolute positioning of the inner card */
  max-width: 1000px;
  max-height: 800px;
  margin-left: 130px;
}

.about-content {
  position: relative; /* Needed for z-index to take effect */
  z-index: 1; /* Ensures the text is above the pseudo-element */
  padding: 20px;
  text-align: left;
  max-width: 600px; /* Or adjust to fit your content */
}

.about-content::before {
  content: '';
  position: absolute;
  top: -10px; /* Adjust as needed */
  right: -10px; /* Adjust as needed */
  bottom: -10px; /* Adjust as needed */
  left: -10px; /* Adjust as needed */
  background: rgba(60, 60, 60, 0.512); /* Slightly more opaque than the container */
  z-index: -1; /* Places this pseudo-element below the text content */
  border-radius: 15px;
}

.about-image-container {
  max-width: 200px; /* Adjust based on your image size */
  flex-shrink: 0; /* Prevents the image container from shrinking */
  margin-left: 40px; /* Space between image and text */
}

.about-image {
  width: 100%; /* Make the image responsive within its container */
  height: auto; /* Maintain aspect ratio */
  border-radius: 50%; /* Circular image */
}


#about{
  padding-top: 135px;
  padding-bottom: 163px;
}
.education-section {
  align-items: center;
  justify-content: center;
  text-align: center; /* Center align everything */
  /* padding: 50px 0;  */
  color: rgb(255, 255, 255);
  padding-top: 144px;
  padding-bottom: 90px;
  padding-left: 19%;  
  padding-right: 19%;
  /* max-width: ; */
  
}

.university-logo-container {
  margin-bottom: 20px; /* Space between logo and text */
}

.university-logo {
  max-width: 400px; 
  margin: 0 auto; 
  /* background-color: #00acee; */
}

.education-info h2 {
 /*  margin-bottom: 15px; Space between the 'Education' title and university name */
}

.education-info h3 {
  font-weight: normal; 
  color: #ffffff; 
}
.education-info p {
  margin-bottom: 10px; /* Space between paragraphs */
}


