@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

#wavy-background-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#Nav {
  background-color: #000;
  z-index: 10;
}

#home {
  position: relative;
  z-index: 5;
  color: white;
  padding-top: 185px;
  padding-bottom: 163px;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.navbar {
  background-color: rgb(0, 0, 0);
  border: none;
  box-shadow: none;
  font-family: 'YourFontFamily', sans-serif;
  font-weight: 360;
  font-size: larger;
}

.navbar-brand img {
  height: 75px;
  width: auto;
  margin-right: 10px;
}

.nav-link.active,
.nav-link:hover {
  color: #dddddd;
  text-decoration: none;
}

.navbar-light .navbar-nav .nav-link {
  color: white !important;
}

.home-content {
  text-align: center;
  padding-top: 100px;
}

.home-content h1 {
  font-size: 4.5em;
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.8);
}

.home-content h2 {
  font-size: 2em;
  color: #ffffff;
}

.home-content p {
  font-size: 1.1em;
  color: #ffffff;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.home-content button {
  padding: 0.2em 0.2em;
}

.home-content button:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 1);
}

.card {
  width: fit-content;
  height: fit-content;
  background-color: rgba(9, 9, 9, 0.685);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

.socialContainer {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
}

.containerOne:hover {
  background-color: #d62976;
}

.containerTwo:hover {
  background-color: #00acee;
}

.containerThree:hover {
  background-color: #0072b1;
}

.containerFour:hover {
  background-color: #128C7E;
}

.socialContainer:active {
  transform: scale(0.9);
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.about-container {
  display: flex;
  color: #dddddd;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.337);
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.137);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 20px;
  position: relative;
  max-width: 1000px;
  max-height: 800px;
  margin-left: 130px;
}

.about-content {
  position: relative;
  z-index: 1;
  padding: 20px;
  text-align: center;
  max-width: 600px;
  transform: perspective(1500px) translateZ(0);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.about-content:hover {
  /* On hover, enhance the effect */
  transform: perspective(1500px) translateZ(50px); /* Moves the element towards the viewer */
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.4);
}

.about-content::before {
  content: '';
  position: absolute;
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
  background: rgba(60, 60, 60, 0.272);
  z-index: -1;
  border-radius: 15px;
}

.about-image-container {
  max-width: 200px;
  flex-shrink: 0;
  margin-left: 40px;
  position: relative;
}

.about-image {
  max-width: 250px;
  height: auto;
  border-radius: 50%;

}


#about {
  padding-top: 110px;
  padding-bottom: 163px;
}

.education-section {
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(255, 255, 255);
  padding-top: 144px;
  padding-bottom: 90px;
  padding-left: 19%;
  padding-right: 19%;
}

.university-logo-container {
  margin-bottom: 20px;
}

.university-logo {
  max-width: 400px;
  margin: 0 auto;
}

.education-info h2 {}

.education-info h3 {
  font-weight: normal;
  color: #ffffff;
}

.education-info p {
  margin-bottom: 10px;
}